html{
   margin: 0px;
   padding:0px;
}
body{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
.blue-container{
   width: 100vw;
   height: 130px;
   background-color: turquoise;
   margin: 0px;
}
h1{
   font-size: 30px;
   padding-top: 50px;
   padding-left: 20px;
}
.first-dotted-box{
   border: black dotted;
   height: 250px;
   width: 1550px;
   margin: 10px;
   padding: 10px;
   box-sizing: border-box;
}
.purple-box{
   background-color: rgb(92, 0, 128);
   border: red solid 3px;
   display:inline-block;
   height: 100px;
   width :195px;
   margin-top: 100px;
   margin-right: 20px;
}
.blue-box{
   background-color: blue;
   border: black solid 3px;
   display: inline-block; 
   height: 100px;
   width: 100px;
   box-shadow: 5px 5px;
   margin-right: 20px;
}
.pink-box{
   background-color: pink;
   border: black solid 5px;
   display: inline-block;
   width: 200px;
   height: 200px;
   clear: right;
}
.second-dotted-box{
   border: black dotted;
   height: 500px;
   width: 1550px;
   margin: 10px;
   padding: 10px;
   box-sizing: border-box;
}
.head{
   display: block;
   border-radius: 50%;
   border: black solid 3px;
   height: 100px;
   width: 100px;
   margin-left:35px;
}
.coal-1{
   height: 15px;
   width: 15px;
   display: inline-block;
   margin-top:25px;
   margin-left: 20px;
}
.carrot{
   display: block;
   width: 20px;
   height: 20px;
   margin-left: 40px;
   margin-top:10px;
}
.torso{
   display: block;
   border-radius: 50%;
   border: black solid 3px;
   height: 140px;
   width: 140px;
   margin-left:17.5px;
}
.coal{
   height: 15px;
   width: 15px;
   display: block;
   margin-top: 20px;
   margin-left: 62.5px;
}
.bottom{
   display: block;
   border-radius: 50%;
   border: black solid 3px;
   height: 190px;
   width: 190px;
}
.bottom-bordered-box{
   height: 450px;
   width: 1550px;
   border: black dotted 3px;
   margin-left: 10px;
}
.tan-box{
   margin-top: 12.5px;
   margin-left: 12.5px;
   background-color: tan;
   border: black solid 3px;
   height: 425px;
   width: 425px;
}
.green-circle{
   background-color: green;
   border: black solid 3px;
   border-radius: 50%;
   Height: 80%;
   width: 80%;
}
.red-square{
   margin-top: 20%;
   margin-left: 20%;
   background-color: red;
   border: black solid 3px;
   height: 60%;
   width: 60%;
   margin-bottom: 0;
}
.blue-circle{
   background-color: blue;
   border: black solid 1px;
   border-radius: 50%;
   width: 75%;
   height: 75%;
   margin-bottom: 0;
   display: block;
}
.nemo-knockoff{
   width: 35%;
   height: 35%;
   margin: 30%;
}
.fish-tank{
   color: white;
   margin-bottom: 20px;
   text-align:center;
}